* {
    margin: 0px;
    padding: 0px;

}

.relativo {
    background-color: blue;
    width: 100%;
   
}


.absoluto {
    background-color: green;
    width: 100%;
   
}

.fixo {
    background-color:yellow;
    
  
    margin:2px;
}

.posicionamento p{
    text-align: center;
    margin: 2px;
}


@media (max-width:600px) {
    .fixo{
        background: black;
        

    }
}

.margem {
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 100px;
    margin-left: 80px;
    border: 1px solid black;
    background-color: blue;
    color: white;
}
